*{
    background-color: black;
}

h1{
    color: white;
    font-size: 3rem;
}

h3{
    color: white;
}

.one{
    width: 50%;
    margin-left: 25%;
    margin-top: 150px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.image{
    border: 5px solid white;
}